@use "variables" as v;

@mixin box-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.banner-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;

  padding: 0 2rem;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    .left-head {
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .left-search {
      @include box-flex();
      background-color: v.$btn-bg-secondary;
      border-radius: 0.8rem;
      padding: 1rem;
      width: 100%;

      a {
        @include box-flex();
        background-color: v.$background;
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        margin-right: 1rem;

        i {
          color: gray;
        }

        &:hover {
          background-color: gainsboro;
        }
      }

      input {
        font-size: 1.2rem;
        border: none;
        outline: none;
        background-color: v.$btn-bg-secondary;
        width: 100%;
      }

      .search-icon {
        color: gray;
        font-size: 1.3rem;
        padding: 0.8rem 0.8rem;
        cursor: pointer;

        &:hover {
          color: black;
          background-color: gainsboro;
          border-radius: 0.5rem;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    .images {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .img {
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 1.2rem;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s ease;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 50%
          );
        }

        .img-details {
          z-index: 2;
          position: absolute;
          bottom: 30px;
          left: 15;
          color: #fff;

          .time {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.9rem;
          }

          .text {
            max-width: 10rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;
          }

          a {
            color: #fff;

            i {
              font-size: 0.8rem;
            }
          }
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }
}
